html{
  box-sizing:border-box;
}

* , *:after , *:before
{
  box-sizing: inherit;
}

body{
  margin:0px;
  background-image: url("Images/clouds.png");
  font-family: cabin;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  color: #c82060;
  font-family: Niconne;
  font-weight: normal;
}

/* Common */

.wrapper{
  width: 97%;
  max-width: 1200px;
  margin: auto;
}

.bgimg{
  height: 12px;
  background-image: url("Images/scallop.png");
}

nav{
  width: 100%;
  background-color: #e6be97;
}

nav ul{
  list-style-type: none;
  background-color: #e6bf98;
  padding: .75em;
  margin: 0;
  border-bottom: 3px solid #cc8850;
}

nav li{
  display: inline;
  padding: 1em;
}

nav a{
  color: #c82060;
}

.content{
  background-color: #fff6e0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2em;
  display: grid;
  grid-gap:3em;
  grid-template-columns: 3fr 1fr;
}

.content-two{
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

.content article h2{
  font-size: 3em;
  border-bottom: 2px dotted #c82060;
  margin-top: 0px;
}

.content article h4{
  font-family: Cabin;
  color:black;
  font-weight: bold;
}

.content article h3{
  font-size: 2em;
  margin-top: 0px;
}

.content section aside h3{
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  font-size: 2em;
  color:white;
  padding: 0 0.5em;
  margin-bottom: 0px;
}

blockquote{
  margin:0px;
}

blockquote p{
  margin:1em;
}

blockquote cite{
  text-transform: uppercase;
  font-style: normal;
  padding: 0 1em 1em 1em;
  display: block;
}

article img{
  width:100%;
  max-width:250px;
  border-radius: 10px;
}

footer {
  background-color: #00CDD1;
  color: white;
  clear:both;
  margin: 0 0.5em 3em 0.5em;
}

footer p {
  text-align: center;
}

footer img {
  width: 52px;
}

footer a {
  color: white;
  text-decoration: none;
}

.imgfloatright{
  float:right;
  margin: 0 0 1em 1em;
}

/* Home */

.bgimghome{
  height: 183px;
  background: url("Images/header-1200.jpg") no-repeat;
}

.colhome{
  display:grid;
  grid-gap:1em;
  grid-template-columns: repeat(4 , 1fr);
}

.colhome article p a{
  margin-bottom: 2em;
  background-color: #c80060;
  color: white;
  font-size: 1.5em;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Niconne';
  padding: 0.2em 0.5em;
}

/* Gallery */

.colgallery{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display:flex;
  flex-flow: row wrap;
}

.colgallery li{
  flex:auto;
}

.colgallery img{
  max-width:100%;
}

/* Contact */

.formone{
  margin-bottom: 1em;
}

.formtwo{
  margin-top: 2em;
}

.colcommon-1 fieldset{
  border:0;
  padding:0;
  margin-left: 0;
}

.colcommon-1 fieldset legend{
  padding: 0;
  margin: 0;
  font-weight: bold;
  color: #c80060;
  font-size: 1.2em;
}

.label{
  margin-top: 1em;
  font-weight: bold;
  display:block;
}

input{
  width: 20em;
}

.colcommon-1 fieldset p{
  margin-top: 1em;
  font-weight: bold;
  display:block;
}

.nonelabel{
  margin-top: 0px;
  font-weight: normal;
  display:block;
}

input[type="radio"]
{
  width:15px;
  width: 1.5em;
}

input[type="checkbox"]
{
  width:15px;
  width: 1.5em;
}

textarea{
  display: block;
  width: 25em;
  height: 15em;
  margin-bottom: 1em;
}

.colcommon-1 button
{
  margin-bottom: 2em;
  background-color: #c80060;
  color: white;
  font-size: 1.5em;
  border-radius: 30px;
  text-decoration: none;
  font-family: 'Niconne', cursive;
  padding: 0.2em 0.5em;
}

/* Other Pages */

.colcommon-2 aside{
  margin: 3em 0;
  border-radius: 10px;
}

.colcommon-2 aside:nth-child(odd)
{
  border: 1px solid #00c4c7;
}

.colcommon-2 aside:nth-child(even)
{
  border: 1px solid #c80060;
}

.colcommon-2 .one h3{
  margin-top: 0px;
  background-color: #00c4c7;
}

.colcommon-2 .two h3{
  margin-top: 0px;
  background-color: #c80060;
}

.colcommon-2 .two img{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px;
  display:block;
}

@media(max-width:849px)
{
  .wrapper
  {
    max-width: 767px;
  }

  .bgimghome {
    height: 130px;
    background: url(Images/header-850.jpg) no-repeat;
  }

  .content article h2 {
    font-size: 1.5em;
    border-bottom: none;
  }

  .colhome {
    grid-template-columns: repeat(2 , 1fr);
  }

  .content{
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .content article h3 {
    font-size: 18.72px;
  }

  .colcommon-2{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2 , 1fr);
  }

  .content section aside h3 {
    font-size: 18.72px;
  }
}

@media(max-width:549px)
{
  .wrapper {
    width: 100%;
  }

  .bgimghome {
    height: 0px;
    background:none;
  }

  nav ul{
    overflow: auto;
  }

  nav li {
    display: block;
    padding: 0.5em;
    width: 50%;
    padding-left: 1em;
  }

  nav li:nth-child(odd)
  {
    float:left;
  }

  nav li:nth-child(even)
  {
    float:right;
  }

  .content , .colhome , .colcommon-2 {
    display:block;
  }

}
